.header-nav-dad {
  display: flex;
  position: relative;
  font-size: 1em;
  background-color: red;
  flex-direction: row;
  color: white;
}

.header-nav-children {
  height: 10vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
}

#header-name {
  width: 30vw;
  display: flex;
  font-size: 3em;
  align-items: center;
  justify-content: center;
}

#center-div {
  display: flex;
  width: 20vw;
}

#header-buttons {
  display: flex;
  width: 40vw;
  font-size: 1.3rem;
  align-items: center;
  justify-content: space-between;
}

.button {
  border-bottom: 1px solid white;
  border-radius: 5px;
}

.button a {
  text-decoration: none;
  color: white;
}
